@import url("variables.less");
@import url("../assets/css/normalize.css");
@import url("../assets/bootstrap/css/bootstrap.css");
@import url("../js/vendor/select2-4.0.0/css/select2.css");
@bgColor: #eee;
@fontSize: 1.2em;
@inlineMarginRight: 10px;
@blockMarginBottom:1.2%;
@sideWidth:180px;

.block-margin{
	margin-bottom:@blockMarginBottom;
}

body{
	background-color:@bgColor;
	font:Verdana, Geneva, sans-serif @fontSize;
	padding-top: 50px;
}

/*html,body{ height:100%; overflow:hidden;}*/

.navbar {
	background-color: rgb(170,175,179);
  background-image: linear-gradient(to bottom, rgb(189,194,199), rgb(170,175,179));
  border-bottom: rgb(140,140,144) 1px solid;
}

.signin-container{
	position: fixed;
	background-color: #fff;
	top: 0;
	right:0;
	bottom:0;
	left:0;
	z-index: 9999;
	background-image: url(../assets/img/Ocean-Sunsets.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.signin-container .logo {
	position:absolute;
	font-size:2.5em;
	color:#fff;
	top:5%;
	left:5%;
	text-shadow: 0 0 5px #333;
	opacity:.4;
}

.signin-container .logo small {
	font-size:.4em;
}


.signin-container .copyright {
	position:absolute;
	color:#fff;
	bottom:5%;
	width:100%;
	text-align:center;
	text-shadow: 0 0 5px #333;
}

.signin-container .panel {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	max-width: 450px;
	width: 90%;
	min-height: 300px;
	margin-top: -150px;
	box-shadow:#666 0 0 20px;
	opacity:.85;
}

.container{
	width:100%;
	height:100%;
	padding:0;
	padding-left:@sideWidth;
	//padding-right:40%;
	position:relative;
}

.side {
	width:@sideWidth;
	background-color:#fff;
	height:100%;
	border-right:#ddd solid 1px;
	position:fixed;
	left:0;
}

.side .list-group{
	margin-right:-1px;
}

.side .list-group-item{
	border-radius:0;
	font-size:14px;
}

.side .glyphicon{
	margin-right:@inlineMarginRight;
}

.side li{
	padding-left: 10px;
	padding-right: 1px;
	cursor: default;
}

.side .sub{
	margin: 8px -1px -10px -14px;
	background-color: #FFFFFF;
	padding: 1px 1px 1px 1px;
	display: none;
}

.side li.active .sub{
	display: block;
}

.side .sub li.list-group-item {
	border: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom:1px;
}

.side .sub li:hover{
	background-color: #f0f0f0;
}

.side .sub li.list-group-item.active{
	background-color: #f0f0f5;
	border-right: 3px solid #428bca;
}

.side .sub li.active > a,.side .sub  li.active > a:focus {
  color: #428bca;
  font-weight: 500;
  background-color: #f0f0f0;
}

.side .sub li.active:hover > a {
	background-color: #f0f0f5;
}

.main{
	width:100%;
	height:100%;
	/*padding:1.5%;*/
	overflow:auto;
}

.main h4{
	margin:0;
	.block-margin;
}

.main .nav>li>a{
	padding: 7px 20px;
	//background-color: #fff;
	border:none;
}

.main .nav>li.active>a{
	//background-color: #eee;
	//color:#000;
	border: 1px solid #ddd;
}

.main .panel-heading {
	padding: 8px 10px;
}

.main .pagination{
	margin:0;	
}

.main td>.glyphicon{
	margin-right:@inlineMarginRight;
}

.main hr {
	border-top: 1px solid #ddd;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main-header {
	//position:fixed;
}

.view {
	width:40%;
	height:100%;
	position:absolute;
	top:0;
	right:0;
	background-color:#fff;
	padding:1.5%;
	border-left:#ddd 1px solid;
}

li.active > a,li.active > a:hover, li.active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.form-inline>.form-group label {
	margin:0 8px;
}

.btn-group {
	margin-right: 5px;
}

.table {
  margin-bottom: 0;
}

.table-hover tbody tr:hover {
  background-color: #FFC;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: #FFC;
}

@import url("classic.less");
@import url("pmo.less");