body {
	background-color: #F5F5F5 !important;
  color: #333;
  font-family: "Microsoft YaHei", 'simsun';
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  font-weight: normal;
  font-variant: normal;
}

a:visited {
  color: rgb(0,44,150);
}

a:link {
  color: rgb(0,44,150);
}

a:hover {
  color: rgb(0,22,49);
}

.navbar-default .navbar-nav > li > a {
  color: #333;
  font-size: 15px;
  text-shadow: 0 -1px 0 rgba(256, 256, 256, 0.5);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: rgb(100,100,104);
  text-shadow: none;
}

.side {
  border-right-color: #ccc;
  background-color: #F5F5F5;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
}

.side .list-group-item {
  font-size: 13px;
  color: #333;
  border: 1px solid #aaaaaf;
  background-color: #F5F5F5;
}

.side .sub .list-group-item {
  font-size: 12px;
  background-color: #fff;
}

.side .sub li.list-group-item.active {
  background-color: #F0F0F5;
  border-right-width: 3px;
  border-right-color: rgb(100,100,104);
}

.side .sub li.active > a, .side .sub li.active > a:focus {
  color: #333;
}

.side a:link,.side a:visited,.side a:visited,.side a:link,.side a {
  color: #333;
}

.side .active>a:link,.side .active>a:visited,.side .active>a:visited,.side .active>a:link,.side .active>a {
  color: #fff;
}

.content-body {
  overflow: auto;
  border-bottom:#DDD solid 1px;
}

.rb-view-footer {
  border-top: #FFF solid 1px;
  background-color: whiteSmoke;
}

.rb-action {
  margin-bottom: 5px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: #333;
  background-color: rgb(100,100,104);
  border-color: rgb(100,100,104);
}

li.active > a, li.active > a:hover, li.active > a:focus {
  background-color: rgb(100,100,104);
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: rgb(100,100,104);
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: rgb(100,100,104);
}

.rb-nav-0 .navbar-nav .glyphicon {
  font-size: 18px;
  display: block;
}

.rb-nav-0>.navbar-nav > li > a{
  padding: 7px 30px 1px 30px;
  text-align: center;
  font-size: 12px;
  line-height: 26px;
}

.btn.btn-success{
	border: #000 1px solid;
  border-color: #000 #000 #000;
	background-image: linear-gradient(to bottom, rgb(100,100,104), rgb(60,60,74));
}

.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
  background-color: rgb(40,40,44);
}

.btn-default {
  color: #333;
}

.btn i {
  margin-top: -1px;
}

.form-inline > .form-group:first label{
  margin-left: 0;
}

.pagination > li > a, .pagination > li > span {
  color: #333;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #999999;
  border-color: #ddd;
  background-color: transparent;
}

.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
  background-color: #F0F0F5;
  color: #366;
}

.table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8ed;
}